<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mappers.PreparationStepMapper">

    <!-- add recipe preparation step -->
    <insert id="addPreparationStep" parameterType="dao.mappers.PreparationStep">
        INSERT INTO preparationstep (recipe_id, step, description)
        VALUES (#{preparationStep.recipeId}, #{preparationStep.step}, #{preparationStep.description})
    </insert>

    <!-- delete recipe preparation step -->
    <delete id="deletePreparationStep" parameterType="Integer">
        DELETE FROM preparationstep
        WHERE recipe_id = #{recipeID}
    </delete>

    <!-- update recipe preparation step -->
    <update id="updatePreparationStep" parameterType="dao.mappers.PreparationStep">
        UPDATE preparationstep
        SET description = #{description}
        WHERE recipe_id = #{recipeId} AND step = #{step}
    </update>

    <!-- get all recipe preparation steps by Id -->
    <select id="getPreparationStepsByRecipeId" parameterType="Integer" resultType="dao.mappers.PreparationStep">
        SELECT *
        FROM preparationstep
        WHERE recipe_id = #{recipeId}
    </select>

</mapper>
