<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mappers.RecipeMapper">
    <!-- add recipe preparation step -->
    <insert id="addRecipe" parameterType="Recipe">
        insert into recipe (name, serveamount, preparationTime, cookingTime, image_url)
        values  (#{recipe.recipeName}, #{recipe.serveAmount}, #{recipe.preparationTime}, #{recipe.cookingTime}, #{recipe.imageUrl})
    </insert>
    <!-- delete recipe by id -->
    <delete id="deleteRecipe" parameterType="Integer">
        delete from recipe
        where recipe_id = #{recipeID}
    </delete>
    <!-- select all recipes-->
    <select id="getAllRecipes" resultType="Recipe">
        select recipe_id as recipeId, name as recipeName, serveamount as serveAmount, preparationTime, cookingTime, image_url as imageUrl
        from recipe
        order by recipe_id asc
    </select>
    <!-- update recipe by id-->
    <update id="updateRecipe" parameterType="Recipe">
        update recipe
        set name = #{recipe.recipeName}, serveamount = #{recipe.serveAmount}, preparationTime = #{recipe.preparationTime}, cookingTime = #{recipe.cookingTime}, image_url = #{recipe.imageUrl}
        where recipe_id = #{recipe.recipeId}
    </update>
    <!-- update recipe by id-->
    <select id="getRecipeById" parameterType="int" resultType="Recipe">
        select recipe_id as recipeId, name as recipeName, serveamount as serveAmount, preparationTime, cookingTime,image_url as imageUrl
        from recipe
        where recipe_id = #{recipeId}
    </select>
    <!-- select recipe by name-->
    <select id="getRecipeByName" parameterType="string" resultType="Recipe">
        select recipe_id as recipeId, name as recipeName, serveamount as serveAmount, preparationTime, cookingTime,image_url as imageUrl
        from recipe
        where name like concat('%', #{recipeName}, '%')
    </select>
    <!-- select the newest recipe-->
    <select id="getNewRecipe" resultType="Recipe">
        select recipe_id as recipeId, name as recipeName, serveamount as serveAmount,
               preparationTime, cookingTime, image_url as imageUrl
        from recipe
        order by recipe_id desc
            limit 1
    </select>


</mapper>